@import "@assets/style/theme.scss";

$known: #008000;
$unknown: #c0c0c0;

.content-view {
  font-size: 30px;
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  bottom: 100px;
  z-index: 9999;
}

.caption {
  background-color: white;
  padding: 5px;
}
